.root {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 30%;
}
.users {
   padding: 0 75px;
}
@media (max-width: 768px) {
   .root {
      width: 55%;
   }
}
