<h1>Contact form</h1>
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
   <div class="mb-4">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" required
         [(ngModel)]="model.name" #name="ngModel">
      <div class="valid-feedback">Valid</div>
      <div [hidden]="name.valid || name.pristine" class="text text-danger mt-2">This field is required.</div>
   </div>
   <div class="mb-4 form-check">
      <label for="checkAdult" class="form-label">Are you over 18 years of age?</label>
      <input type="checkbox" class="form-check-input" id="checkAdult" name="checkAdult" required
         [(ngModel)]="model.checkAdult" #checkAdult="ngModel">
      <div [hidden]="checkAdult.valid || checkAdult.pristine" class="text text-danger mt-2">This field is required.
      </div>
   </div>
   <div class="mb-4">
      <label for="department" class="form-label">Department</label>
      <select name="department" class="form-select form-select-sm" id="department" required
         [(ngModel)]="model.department" #department="ngModel">
         <option disabled selected hidden value="">Select a department</option>
         <option value="marketing">Marketing</option>
         <option value="sales">Sales</option>
         <option value="other">Other</option>
      </select>
      <div [hidden]="department.valid || department.pristine" class="text text-danger mt-2">This field is required.
      </div>
   </div>
   <div class="mb-4">
      <label for="comment" class="form-label">Comment</label>
      <textarea name="comment" class="form-control" id="comment" rows="5" cols="30" placeholder="Leave a comment..."
         [(ngModel)]="model.comment"></textarea>
   </div>
   <div class="d-grid gap-2 col-4 float-end">
      <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send</button>
   </div>
</form>

<pre>{{contactForm.value | json}}</pre>