<div class="container">
   <p class="tittle">Home</p>
   <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sint vitae accusantium, ex ut similique,
      cumque consequuntur quos fuga non repudiandae quaerat inventore neque incidunt sed numquam earum corrupti
      reprehenderit.
      Commodi impedit enim magnam ea accusantium, dolorem sed dolores sequi fugit eos explicabo labore, corporis dolorum
      sint nam! Rem, ipsam aliquid! Eligendi iusto perferendis aperiam libero rem, cumque totam. Sit.
      Beatae numquam esse, voluptas quod natus voluptatibus quos sapiente aperiam earum libero deserunt recusandae
      laudantium nisi soluta optio sequi dignissimos enim? Excepturi soluta ea laborum incidunt quidem quas facere ad.
      Ab distinctio ducimus quo est, ullam odio expedita sit rem atque magni quis quibusdam suscipit facilis ipsa odit
      nulla doloribus itaque beatae amet maiores nisi quam! Alias id repudiandae voluptatibus!
      Veritatis illo obcaecati nihil sequi eveniet beatae ullam a odio corporis soluta possimus corrupti modi iste
      necessitatibus molestias, sed ipsam neque repellendus. Pariatur, sed? Dicta in aut officia nisi quos.
   </p>
</div>