<app-navbar></app-navbar>

<div class="main-container">
    <div class="text-container">
        <h1>Framework Angular</h1>
        <p>Angular es una plataforma y un framework para crear aplicaciones de una sola página en el lado del
            cliente
            usando HTML y TypeScript. Angular está escrito en TypeScript. Implementa la funcionalidad básica y
            opcional
            como un conjunto de bibliotecas TypeScript que importas en tus aplicaciones.</p>
    </div>
    <div class="img-container">
        <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular Logo">
    </div>
</div>