<div class="root">
   <div class="main-container">
      <!-- Header  -->
      <app-header></app-header>
      <!-- Content Input / Output -->
      <div class="element-container">
         <div class="input-container">
            <app-input></app-input>
            <app-input></app-input>
         </div>
         <app-result></app-result>
      </div>
      <!-- Button -->
      <div class="element-container">
         <div class="button-container">
            <app-button></app-button>
         </div>
      </div>
   </div>
</div>