button {
   background-color: #4caf50; /* Green */
   border: none;
   color: white;
   padding: 10px 40px;
   text-align: center;
   text-decoration: none;
   font-size: 14px;
   border-radius: 8px;
   cursor: pointer;
   text-transform: uppercase;
}
