:host {
   width: 100%;
}
.header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
   background-color: darkblue;
}
p {
   font-size: 1.2em;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
}
